*{
    margin: 0;
    padding: 0;
}
:root{
    --base-color: rgb(255, 255, 255); 
    --accent-color: #e22c39;
    --accent-color-washed: rgba(226, 44, 57, 0.5);
    --secondary-base: #f1f1f1;
    --text-color: black;
    --secondary-text-color: #767676;
    --secondary-acccent-color: #003349;
    --icon-color: #3a435d;
    --hero-text: white;
}
::selection{
    background-color: var(--accent-color);
    color: white;
}
.highlight{
    background-color: var(--accent-color);
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
}
.underline{
    text-decoration: underline;
    text-decoration-color: #ff5733; 
  text-decoration-thickness: 3px;  
  text-decoration-style: solid;   
  text-underline-offset: 2px; 
}
html{
    scroll-behavior: smooth;
}

.sidebar{
    position: fixed;
    height: 100vh;
    width: 3rem;
    left: 0;
    top: 0;
    background-color: var(--secondary-base);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar h2{
    transform: rotate(90deg);
    white-space: nowrap;
    font-family: roboto mono;
    font-weight: 300;
    color: var(--secondary-text-color)
    
}

/* 1. Hide checkbox */
#dark-toggle {
    display: none;
}

/* 2. Style the label (the clickable area) */
#theme-switch {
    display: block;
    background-color: var(--secondary-base);
    position: fixed;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

/* 3. Hide Sun SVG by default */
#theme-switch svg:last-child {
    display: none;
}

/* 4. When checked: Hide Moon, Show Sun */
#dark-toggle:checked + #theme-switch svg:first-child {
    display: none;
}

#dark-toggle:checked + #theme-switch svg:last-child {
    display: block;
}

#dark-toggle:checked ~ #page{
    --base-color: #121212; 
    --accent-color: #0071ff;
    --secondary-base: #1A1F25 ;
    --text-color: white;
    --secondary-text-color: rgba(255,255,255,0.5);
    --secondary-acccent-color: #003349;
    --icon-color: #3a435d;
    --hero-text: rgba(255,255,255,1);
}
#dark-toggle:checked ~ #page #HeroSection{
    background-image: url("images/tim-oun-jY_W5x74GTs-unsplash.jpg");
}
#theme-switch:hover{
    transform: scale(1.1);
}

.scroll-watcher{
    height: 3px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--accent-color);
    width: 100%;
    scale: 0 1;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    transform-origin: left;
    animation-delay: 0.3s;
} 

@keyframes scroll-watcher{
    to { scale: 1 1;}
}

#HeroSection{
    height: 100vh;
    background-image: url('images/paul-pastourmatzis-r0J9sGBWFOc-unsplash.jpg');
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: rgb(15, 25, 35, 0.6);  
  background-blend-mode: multiply; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0rem 10rem;
}
#mobileHeroText{
    display: none;
    color: var(--hero-text);
}
#heroTxtWrapper{
    display: flex;
}
#heroTxtWrapper .dynamic-txts{
    margin-left: 20px;
    overflow: hidden; 
    line-height: 7.1rem;
    height: 7.1rem;
    margin-top: 5px;
    
}

.dynamic-txts li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: #082032; */
    backdrop-filter: blur(100px);
    
    border-left: 4px solid var(--accent-color);
    animation: typing 2.5s steps(10) infinite;
}

@keyframes typing{
    40%, 
    60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}

.dynamic-txts li{
    color: var(--accent-color);
    font-size: 7rem;
    position: relative;
    list-style: none;
    font-family: montserrat;
    font-weight: 500;
    /* background-color: #082032; */
    backdrop-filter: blur(3px);
     overflow: hidden; 
    /* padding: 2px 5px; */
    border-radius: 20px;
    animation: slide 7.5s steps(3, start) infinite;
    
    transition: opacity 0.5 ease-in-out;
}
    



@keyframes slide{
    0% {top: 0;}
    100% {top: -21.3rem;}
}
h1{
    font-size: 7rem;
    font-family: montserrat;
    color: var(--hero-text);
    font-weight: 500;
    
    
}

#HeroSection h2{
    color: var(--hero-text);
    font-family: montserrat;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}
.mainContainer{
    
    display: flex;
    background-color: var(--base-color);
}
#currentInterests{
    background-color: var(--secondary-base);
    
}
.imageContainer{
    width: 50vw;
    margin: 5rem;
    overflow: hidden;
}
.textContainer{
    margin: 8rem;
    width: 50vw;
    
}
.textContainer h3{
    font-family: montserrat;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: var(--text-color);
    letter-spacing: 1px;
    
}
.textContainer p{
    font-family: epilogue, "TT Norms Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color:  var(--secondary-text-color);
}

/* .textContainer a{
    text-decoration: none;
    color: #003348;
    font-weight: 500;
     text-decoration: underline;
    text-decoration-thickness: 2px; 
} */

a:link{
    white-space: nowrap;
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
    font-family: roboto mono;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  position: relative;
  font-style: normal;
  
}
a:visited{
    color: var(--secondary-acccent-color);
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: var(--accent-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.imageContainer img{
    width: 40vw;
    height: auto;
    float: none;
}


.textContainer{
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 600px;
}
@keyframes fade-in{
    from {scale: 0.8; opacity: 0; transform: translateY(100px);}
    to {scale: 1; opacity: 1; transform: translateY(0);}
}

@media (max-width: 1200px){
    #heroTxtWrapper{
        display: none;
    }
    #mobileHeroText{
        display: block;

    }
    #HeroSection h2{
        text-align: left;
    }
    .sidebar{
        width: 2rem;
    }
    .sidebar h2{
        font-size: 1rem;
    }
}
@media (max-width: 992px){
    #HeroSection{
        align-items: flex-start;
        
    }
    
    
    #mobileHeroText{
        font-size: 4rem;
        text-align: left;
    }
    #HeroSection h2{
        font-size: 1.3rem;

    }
    .mainContainer{
        flex-direction: column;
        padding-bottom: 2rem;
    }
    #currentInterests .imageContainer{
        order: 2;
    }
    #currentInterests .textContainer{
        order: 1;
    }
    .textContainer{
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 0;
    }  
    .imageContainer{
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    .imageContainer img{
    width: 80vw;
    height: auto;
}
}
@media (max-width: 768px){
    .sidebar{
        display: none;
    }
    #mobileHeroText{
        font-size: 3rem;
    }
    #HeroSection{
        padding: 0rem 5rem;
    }
    #HeroSection h2{
        font-size: 0.7rem;
    }
    .textContainer p{
        font-size: 1rem;
        line-height: 2rem;
    }

}
@media (max-width: 500px){
    .textContainer p{
        font-size: 0.9rem;
        line-height: 1.8rem;
    }
    .textContainer{
        width: 70vw;
        margin-left: 15vw;
        margin-right: 15vw;
    }
    .imageContainer{
        width: 70vw;
        margin-left: 15vw;
        margin-right: 15vw;
    }
}